<h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, facilis!
</h1>

<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab inventore minima obcaecati quidem!</h2>

<h1>
  ------------------------------------
</h1>

<p>
  Here below we have a navbar component
</p>

<app-my-component propValue="I am actually the prop value which was declared by dev Owais in first component" ></app-my-component>
<app-my-component propValue="I am actually the prop value which was declared by dev Owais in second component" ></app-my-component>
<app-my-component propValue="I am actually the prop value which was declared by dev Owais in third component" ></app-my-component>